bin/Debug/net6.0/Aumento de Salario.deps.json
bin/Debug/net6.0/Aumento de Salario.dll
bin/Debug/net6.0/Aumento de Salario.exe
bin/Debug/net6.0/Aumento de Salario.pdb
bin/Debug/net6.0/Aumento de Salario.runtimeconfig.json
obj/Aumento de Salario.csproj.nuget.dgspec.json
obj/Aumento de Salario.csproj.nuget.g.props
obj/Aumento de Salario.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Aumento de Salario.AssemblyInfo.cs
obj/Debug/net6.0/Aumento de Salario.AssemblyInfoInputs.cache
obj/Debug/net6.0/Aumento de Salario.assets.cache
obj/Debug/net6.0/Aumento de Salario.csproj.AssemblyReference.cache
obj/Debug/net6.0/Aumento de Salario.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Aumento de Salario.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Aumento de Salario.dll
obj/Debug/net6.0/Aumento de Salario.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Aumento de Salario.genruntimeconfig.cache
obj/Debug/net6.0/Aumento de Salario.GlobalUsings.g.cs
obj/Debug/net6.0/Aumento de Salario.pdb
obj/Debug/net6.0/ref/Aumento de Salario.dll
obj/Debug/net6.0/refint/Aumento de Salario.dll
